<ng-container *ngIf="startPreview$ | async"></ng-container>

<ion-content class="content" [fullscreen]="true">
    <ng-container *ngIf="!isFullScreen">
        <ion-input type="file" multiple (change)="chooseFile($event)">
        </ion-input>
    </ng-container>

    <ng-container *ngIf="isFullScreen">
        <ion-button class="fullscreen-button" color="medium" (click)="switchFullScreen()">Exit Full Screen</ion-button>
    </ng-container>

    <ng-container *ngIf="!isFullScreen">
        <ion-button color="dark" (click)="switchFullScreen()">Enter Full Screen</ion-button>
    </ng-container>

    <ng-container *ngIf="currentImageUrl">
        <ion-img class="image" [src]="currentImageUrl" alt="Couldn't load image"></ion-img>
    </ng-container>
</ion-content>