@if (startPreview$ | async) {
}

<ion-content class="content" [fullscreen]="true">
  @if (isFullScreen) {
    <ion-button class="fullscreen-button" color="medium" (click)="switchFullScreen()">
      <ion-icon name="contract-outline"></ion-icon>
    </ion-button>
  }

  @if (!isFullScreen) {
    <ion-button class="minscreen-button" color="light" (click)="switchFullScreen()">
      <ion-icon name="expand-outline"></ion-icon>
    </ion-button>
  }

  @if (!isFullScreen) {
    <ion-button class="chose-file-button" color="light" (click)="choseDirectory()">Chose Directory</ion-button>
  }

  @if (currentImageUrl) {
    <ion-img class="image" [src]="currentImageUrl" alt="Couldn't load image"></ion-img>
  }
</ion-content>